@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

* { 
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased;
	-ms-font-smoothing:antialiased; 
	-o-font-smoothing:antialiased; 
	font-smoothing:antialiased; 
}

body{
  margin:0px;
  padding:0px;
	font-family: "Open Sans", arial;
	/* background:#0f6d39;*/
	background: #2e4ec1;
	color:#fff;
	font-weight:300;
}

h1{
	font-family: "Open Sans", arial;
	font-weight:300;
	float: left;
	width: 55%;
	margin-left: 5px;
	font-size: 40px;
	margin-bottom: 40px;
}
h2{
	margin:0px;
	font-family: "Open Sans", arial;
	font-weight:300;
}
.container{
	margin:50px;
	width: 1251px;
	margin-top: -30px;
  margin-left:10px;
	-webkit-transform:scale(0.9);
}
a.wide, a.box{
	text-decoration:none;
	color:#fff;
	-webkit-transition: -webkit-transform 0.1s;
	position:relative;
	overflow:hidden;
}

a.wide h2, a.box h2{
	position:absolute;
	bottom:5px;
	font-size:14px;
}

a.wide h2.top, a.box h2.top{
	position:static;

	font-size:14px;
}
a.wide i, a.box i{
font-size: 60px;
text-align: center;
display: block;
margin-top: 30px;
}
a.wide:hover, a.box:hover{
	-webkit-transform: scale(1.05);
}

a.wide:active, a.box:active{
	-webkit-transform: scale(1);
}
.wide{
	width:270px;
	height:120px;
	overflow:hidden;
	font-size:13px;
	padding:10px;
	display:block;
	float:left;
	margin:5px;
}

.box{
	width:120px;
	height:120px;
	overflow:hidden;
	font-size:13px;
	padding:10px;
	display:block;
	float:left;
	margin:5px;
}
.lime{background:#61b812;box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);}
.orange{background:#e76022;box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);}
.blue{background:#1E90FF;box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);}
.redgay{background:#DA312E;box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);}
.yellow{background:#dbb701;box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);}
.bluefish{background:#02b9e3;box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);}
.magenta{background:#d22a4e;box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);}
.spacer{
	width:770px;
	margin-right: 50px;
	float:left;
}
.spacer3x{
	width:300px;
}

@-webkit-keyframes galeri
{
1% {background-position: 0px 0px;}
10%{background-position: 0px 140px;}
20%{background-position: 0px 140px;}
30%{background-position: 0px 280px;}
40%{background-position: 0px 280px;}
50%{background-position: 0px 420px;}
60%{background-position: 0px 420px;}
70%{background-position: 0px 560px;}
80%{background-position: 0px 560px;}
100% {background-position: 0px 560px;}
}

.gallery{
	background: url(https://dl.dropbox.com/u/39272011/image_metro.png);
	-webkit-animation: galeri 15s infinite;
}
.right{
	float:right;
	text-align:right;
	margin-top: 30px;
}
.right p{
	margin: 5px 0px;
}
img.prof{
	float: right;
	margin: 10px;
	margin-top: 40px;
}
.i_bot{
	font-size: 30px;
	text-align: left;
	position: absolute;
	bottom: 0px;
}
.cal_i{
	margin-top: 20px;
	margin-left: 15px;
	width: 155px;
}
.cal_e h1{
	position: absolute;
	right: 0px;
	width: 115px;
	text-align: center;
	margin: 0px;
	font-size: 60px;
}
.cal_e p{
	position: absolute;
	right: 0px;
	width: 115px;
	text-align: center;
	margin-top: 75px;
	text-transform: uppercase;
}
.cal_e i{
	text-align: left;
	font-size: 25px !important;
	position: absolute;
	bottom: 0px;
}

#login_form
{
	width: 300px;
	background: #f0f0f0;
	background-color: transparent;
	/* border: 1px solid black; */
	margin: 250px auto 0;
	padding: 1em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

input[type=text], input[type=password]
{
	display: block;
	margin: 0 0 1em 0;
	width: 280px;
	border: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 1em;
}

input[type=submit], form a
{
	border: none;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #878787;
	color: white;
	/*box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white; */
}

input[type=submit]:hover, form a:hover 
{
	background: #28732E;
	cursor: pointer;
}

.error
{
	color: #393939;
	font-size: 15px;
}

fieldset 
{
	width: 300px;
	margin: auto;
	margin-bottom: 2em;
	display: block;
}

#copyright
{
	background: #e3e3e3;
	border-top: 1px solid white;
	postion: absolute;
	bottom: 0;
	width: 100%;
	padding: .7em .7em .7em 2em;	
}

/* Chat */
.chat_messages {
    border: 1px solid #000;
    color: #000;
    padding: 10px;
	background-color: #EBEBEB;
}
.chat_messages a, .priv_conv a {
    color: #000;
}
.chat_messages a img, .priv_conv a img {
    margin-right: 10px;
    vertical-align: middle;
    width: 22px;
}
.chat_messages .message, .priv_conv .message {
    background-color: #fff;
    margin: 5px;
    padding: 5px;

    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.chat_messages .message span, .priv_conv .message span {
    color: #444;
    font-size: 10px;
    margin-left: 10px;
}
.chat_submit_form {
    margin: 10px 0px;
    overflow: hidden;
}
.chat_submit_form .error, .chat_submit_form .success, .chat_submit_form .protect {
    display: none;
}
.chat_submit_form .error {
    color: #f55;
}
.chat_submit_form .success {
    color: #5f5;
}
.chat_submit_form .protect {
    color: #55f;
}

.chat_submit_for .message{
	display: block;
	margin: 0 0 1em 0;
	width: 280px;
	border: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 1em;
}